@font-face {
    font-family: 'montserrat-regular';
    font-style: normal;
    font-weight: 300;
    src: local('Montserrat-regular'), url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

body{
    margin: 0 auto;
    font-family: 'montserrat-regular', 'Verdana', sans-serif;
    background-color: #c7b299;
    background-image: url(../images/backgroaund.jpg);
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.menu{
    list-style: none;
}

.menu-link{
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.menu-link:hover {
    color: #B0C4DE;
}

.headline{
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
}

.welcome-txt{
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
    text-align: center;
}

.p-info{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.goods{
    margin-left: 50px;
}

.good-description{
    margin: 0;
}

.footer-info{
    text-align: right;
    color: azure;
}